.tablist-component {
  //visibility: visible; 占据空间 display: none
  .close-icon {
    margin-left: 8px;
    visibility: hidden;
  }
  .nav-link:hover .close-icon {
    visibility: visible;
  }
  .nav-link.active {
    .close-icon {
      visibility: visible;
    }
  }

  .unsaved-icon {
    display: inline-block;
    background-color: #d9534f;
    width: 11px;
    height: 11px;
    margin-left: 8px;
  }
  // 切是nav-link
  .withunsaved.nav-link .close-icon {
    display: none;
  }
  .withunsaved.nav-link:hover .close-icon {
    display: inline-block;
  }
  .withunsaved.nav-link:hover .unsaved-icon {
    display: none;
  }
}